@import 'inputs';

.input {
    @extend %inputBase;
    font-size: var(--font-size-medium-small);
    padding: var(--spacing-sixth) var(--spacing-third);
    width: 100%;

    &.error {
        border-color: var(--color-red);
    }
}

.actions {
    margin-top: var(--spacing-single);
}

.submit {
    @extend %buttonPrimary;
}
