@import 'inputs';

.container {
    margin: 0 auto;
    max-width: 550px;
    padding: var(--spacing-single) var(--spacing-single) var(--spacing-triple);
}

.title {
    font-size: var(--font-size-large);
}

.input {
    @extend %inputBase;
    font-size: var(--font-size-medium-small);
    padding: var(--spacing-sixth) var(--spacing-third);
    width: 100%;
}

.actions {
    margin-top: var(--spacing-single);
}

.submit {
    @extend %buttonPrimary;
}
