.list {
    margin-top: var(--spacing-single);
}

.listItem {
    align-items: center;
    border: 2px solid var(--color-light-grey);
    border-radius: 3px;
    display: flex;
    margin: var(--spacing-third) 0;
    padding: var(--spacing-third) var(--spacing-half);
}

.listItemNum {
    color: var(--color-dark-grey);
    font-size: var(--font-size-medium-large);
    font-weight: var(--font-weight-sans-bold);
    margin-right: var(--spacing-half);
}
