@import 'inputs';
@import 'mixins';

.container {
    margin-top: var(--spacing-single);
}

.caption {
    margin-bottom: 0;
}

.prefillContainer {
    background-color: var(--color-white);
    padding: var(--spacing-third) 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.input {
    @extend %inputBase;
    font-size: var(--font-size-medium-small);
    padding: var(--spacing-sixth) var(--spacing-third);
    width: 100%;
}
