.titleWrapper {
    color: var(--color-not-black);
    display: inline-block;
    font-size: var(--font-size-medium-small);
    font-weight: var(--font-weight-sans-bold);
    width: 100%;
}

.title {
    margin-right: var(--spacing-sixth);
}

.connector,
.director,
.origTitle {
    color: var(--color-dark-grey);
    font-size: var(--font-size-small);
}

.connector {
    font-weight: var(--font-weight-sans-normal);
    margin-right: var(--spacing-third);
}

.director {
    display: block;
}

.origTitle {
    display: inline-block;
    margin-right: var(--spacing-third);
}
