@import 'inputs';

.subtitle {
    margin-bottom: var(--spacing-sixth);
}

.subtitleCaption {
    color: var(--color-dark-grey);
    font-size: var(--font-size-small);
}

.sortField {
    @extend %selectInput;
    display: inline-block;
    margin-left: var(--spacing-third);
    padding: 0 var(--spacing-sixth);
}
